@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Onest', sans-serif;
  font-weight: 500;
}

body {
  padding-inline: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 5rem;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links-container a {
  font-size: 1.25rem;
  transition: all 0.4s ease;
}

.links-container a:hover,
.links-container a.active {
  color: #8828FF;
}

.clickBtn {
  background: #8828FF;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.clickBtn:nth-child(odd) {
  background: #202020;
}

.blog {
  gap: 1rem;
  margin-top: 3rem;
  width: 80%;
  margin-inline: auto;
}

.blog-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.blog h2 {
  color: #8828FF;
  font-size: 2rem;
  margin-block: 1rem;
}

.blog-column {
  box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30rem;
}

.blog-column h1 {
  color: #8828FF;
  font-size: 1.5rem;
}